<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/virus-pngrepo-com.png" />
    <title>Co-Resolve</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><span style='color:rgb(255, 80, 80);'>C<img
                        src="/assets/virus-pngrepo-com.png" width="24px" />
                </span>Resolve</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">File Complaint</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/escalate">Escalate Complaint</a>
                    </li>
                </ul>
                <form method="GET" action="/escalate/search" class="d-flex">
                    <input class="form-control me-2" autocomplete="off" type="search" name="search"
                        placeholder="Search complaints" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Carousal -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://source.unsplash.com/1400x300/?corona,virus
            " class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/1400x300/?corona,vaccine" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/1400x300/?virus,vaccine" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <!-- Categories -->
    <div class="row align-items-md-stretch my-4 mx-2">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Money Realted Problems</h2>
                <p>Find all the complaints related to money, corruption and malpractices in the Covid relief process.
                    If you got a similar problem then head over to the 'file complaint' page and report your issues, we
                    are here
                    listen to your grievances and make sure they are hard by necessary people meant to resolve them....
                </p>
                <a href="/escalateMoney"><button class="btn btn-outline-light" type="button">Read More</button></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Hospital Beds Problem</h2>
                <p>Find all the complaints related to hospital beds, hospitals not alloting beds to patients and such.
                    If you got a similar problem then you can upvote the exiting issue, and also file your own on the
                    'file complaint page' we make sure your problem readches to the necessary bodies....</p>
                <a href="/escalateBeds"><button class="btn btn-outline-secondary" type="button">Read More</button></a>
            </div>
        </div>
    </div>
    <div class="row align-items-md-stretch my-4 mx-2">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Vaccination Problem</h2>
                <p>Find all the complaints related to vaccination, side-effects, bad practices involved in the process
                    and more.
                    If you got a similar problem then you can upvote the exiting issue, and also file your own on the
                    'file complaint page' we make necessary actions are taken by the alloted bodies....</p>
                <a href="/escalateVaccine"><button class="btn btn-outline-light" type="button">Read More</button></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Oxygen Cylinder Realted Problems</h2>
                <p>Find all the complaints related to lack of oxygen cylinders, trafficking, and other malpractices
                    related to O2 supplies.
                    If you got a similar problem then you can upvote the exiting issue, and also file your own on the
                    'file complaint page' we make sure you are heard....</p>
                <a href="/escalateCylinder"><button class="btn btn-outline-secondary" type="button">Read
                        More</button></a>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>