<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/virus-pngrepo-com.png" />
    <title>Co-Resolve</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><span style='color:rgb(255, 80, 80);'>C<img
                        src="/assets/virus-pngrepo-com.png" width="24px" /></span>Resolve</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/register">File Complaint</a>
                    <a class="nav-link" href="/escalate">Escalate Complaint</a>
                </div>
            </div>
        </div>
    </nav>

    <!--alert-->
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
            aria-label="Warning:">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
        <div>A Help Desk to deal with your grievances!</div>
    </div>

    <!-- image carousal -->
    <div class="container-sm">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/2.jpg" class="d-block w-100" alt="..." width="1400" height="400" />
                    <div class="carousel-caption d-none d-md-block">

                        <h4>Get Useful COVID Resources.</h4>
                        <a role="button" class="btn btn-danger" href="/">Home</a>
                        <a role="button" class="btn btn-primary" href="/register">File Complaint</a>
                        <a role="button" class="btn btn-success" href="/escalate">Escalate</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/assets/kids.jpg" class="d-block w-100" alt="..." width="1400" height="400" />
                    <div class="carousel-caption d-none d-md-block">

                        <h4>File Your Complaint Easily.</h4>
                        <a role="button" class="btn btn-danger" href="/">Home</a>
                        <a role="button" class="btn btn-primary" href="/register">File Complaint</a>
                        <a role="button" class="btn btn-success" href="/escalate">Escalate</a>

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/assets/vaccine.jpg" width="1400" height="400" />
                    <div class="carousel-caption d-none d-md-block">

                        <h4>Up-Vote the similar problems.</h4>
                        <a role="button" class="btn btn-danger" href="/">Home</a>
                        <a role="button" class="btn btn-primary" href="/register">File Complaint</a>
                        <a role="button" class="btn btn-success" href="/escalate">Escalate</a>

                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <br />

    <!--info. resources-->
    <div class="container-xl my-4">
        <div class="row mb-2">
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Laborataries</strong>
                        <h3 class="mb-0">COVID-19 testing facility</h3>

                        <p class="card-text mb-auto">Below are the ICMR approved Govt. and Pvt. labs with COVID19
                            testing facility.
                        </p>
                        <a href="https://www.icmr.gov.in/ctestlab.html" class="stretched-link">Discover</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250" src="/assets/C8.JPG" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Hospitals</strong>
                        <h3 class="mb-0">COVID-19 care hospitals </h3>

                        <p class="mb-auto">Below are the approved Govt. and Pvt. hospitals and quarintine centers for
                            COVID19
                            treatment .</p>
                        <a href="https://www.mohfw.gov.in/pdf/StatewiseCovidHospitalslink19062020.pdf"
                            class="stretched-link">Discover</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250" src="/assets/iStock.JPG" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--video resources-->
    <div class="container-xl">
        <div class="row mb-2 ">
            <div class="col-md-6 ">
                <div
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="video_box d-flex justify-content-center align-items-center">
                            <div class="video-responsive">
                                <iframe width="500" height="270" src="https://www.youtube.com/embed/JMeaFYCGxVw"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                                <p>
                                <h4>#GUIDELINES FOR COVID-19 PATIENTS</h4>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  ">
                <div
                    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="video_box d-flex justify-content-center align-items-center">
                            <div class="video-responsive">
                                <iframe width="500" height="270" src="https://youtube.com/embed/io-oreIAuTM"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                                <P>
                                <H4>#HOW TO REGISTER FOR VACCINATION</H4>
                                </P>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--helpline no-->
    <div class="my-3 p-3 bg-body rounded shadow-sm my-4">
        <h6 class="border-bottom pb-2 mb-0">HElPLINE NUMBERS</h6>
        <div class="d-flex text-muted pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff"
                    dy=".3em">32x32</text>
            </svg>
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">Senior Citizens Helpline</strong>
                    <a href="https://www.india.gov.in/people-groups/life-cycle/senior-citizens">Minstry of Social
                        Justice</a>
                </div>
                <span class="d-block">CALL 14567</span>
            </div>
        </div>
        <div class="d-flex text-muted pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#ff007b"></rect><text x="50%" y="50%" fill="#ff007b"
                    dy=".3em">32x32</text>
            </svg>

            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">Child Helpline</strong>
                    <a href="https://wcd.nic.in/">Minstry of Women & Child devlopment</a>
                </div>
                <span class="d-block">CALL 1098</span>
            </div>
        </div>
        <div class="d-flex text-muted pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#7bff00"></rect><text x="50%" y="50%" fill="#7bff00"
                    dy=".3em">32x32</text>
            </svg>

            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">Health Minstry Helpline</strong>
                    <a href="https://www.mohfw.gov.in/">Minstry of Health</a>
                </div>
                <span class="d-block">CALL 1075</span>
            </div>
        </div>
        <small class="d-block text-end mt-3">
        </small>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>